<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/juanpablocruz/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="juanpablocruz" />
            <add key="ClearTextPassword" value="d5a8ab95cc663c1f23561f5cf22e2e5d032d4c39" />
        </github>
    </packageSourceCredentials>
</configuration>