<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/juanpablocruz/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="juanpablocruz" />
            <add key="ClearTextPassword" value="6fa8f572ecae830b77bf98aabd8d0b3d4d1e285d" />
        </github>
    </packageSourceCredentials>
</configuration>